{% extends "coplate_base/base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}비밀번호 초기화 | Coplate{% endblock title %}

{% block content %}
<div class="account-background">
  <main class="account">
    <div class="title">
      <a href="{% url 'index' %}">
        <img class="logo" src="{% static 'coplate/assets/coplate-logo.svg' %}" alt="Coplate Logo">
      </a>
    </div>

    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.email|add_class:"cp-input"|attr:"placeolder:이메일"|add_error_class:"error" }}
        {% for error in form.email.errors %}
          <div class="error-message">{{ error }}</div>
        {% endfor %}
      </div>
      <button class="cp-button" type="submit">비밀번호 찾기</button>
    </form>
  </main>
</div>
{% endblock content %}
